*{
    color:white;
}
body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

 background-color: black;
}
nav{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    background-image:url("img/logo.png");
    background-size: contain;
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
}
nav *
{
    margin-right: 20px;
}
#genre{
    background-color: transparent;
    color:white;
    border: none;
}
button{
    cursor: pointer;
}
#genre-in{
  width: 100px;
  display: none;
  position: absolute;
  left: 165px;
  background-color: rgb(0, 0, 0);
  top: 35px;
 
  margin: 10px;
  height: 450px;
  font-size: 10px;
  z-index: 1000;
}
ul{
    width:60px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    display: contents;
}
li{
    color: red;
    padding-top: 4px;
    padding-left: 5px;
}
a:visited,a
{
    color:red;
    text-decoration: none;
}
a:hover{
    text-decoration: red underline;
}
#search {
    background-color: transparent;
    border: none;
    caret-color: white;
    outline: none;
    height: 100%;
    width: 147px;
}
.search{
    border:1px solid red;
    border-radius: 2px;
    height: 20px;
    width:150px;
    display: flex;
    position: absolute;
    right:70px;
}
#go{
    position: relative;
    left:-15px;
    color:whitesmoke;
    background-color: transparent;
    border: 1px solid;
    border-radius: 2px;
}
nav a{
    display: flex;
    color:white;
    text-decoration:none;
}
nav a:visited{
    display: flex;
    color:white;
    text-decoration:none;
}
nav a:hover{
    text-decoration:none ;
    border: inset;
    border:1px solid red;
    border-radius: 3px;
}
.white{
    padding:10px 10px;
}
#go:hover{
    color:black;
    background-color: white;
}
.banner{
  height:440px;
  background-image: url('https://image.tmdb.org/t/p/original//3lBDg3i6nn5R2NKFCJ6oKyUo2j5.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.61),#000000);
}

.banner h2 {
    font-size: 50px;
    margin: 0;
    z-index: 10;
    margin-left: 40px;

  }
  
  .banner .banner-buttons {
    z-index: 10;
    margin-left: 20px;
 }
  
  .banner .banner-buttons button {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
}
.banner-description{
    width: 650px;
    margin-left: 20px;
}
.banner .banner-buttons .button-play,.fa-play{
 background-color: whitesmoke;
 color:black;
}
.moviescont{
    display: flex;
}
#originals,#top_rated{
    height:270px;    
    display: flex;
    cursor:pointer;
    overflow-x:scroll;
}
.movies-cont{
    display: flex;
    cursor:pointer;
    overflow-x:scroll;
}
::-webkit-scrollbar {
    display: none;
}
#originals img:hover,#trending img:hover,#top_rated img:hover {
    animation: zoom 200ms linear;
    animation-fill-mode: forwards;
}

#trending{
    height:170px;
}
@keyframes zoom{
        to{
            z-index: 10000000;
            margin:0px;
        }
}
.searchIN img{
    width:172px;
    height:270px;
    cursor:pointer;
    border:1px solid red;
}
.search-cont{
    display: flex;
    flex-wrap: wrap;
}
#logo:visited,#logo:hover{
border: none;
}
*{
    scroll-behavior:smooth;
}